// Colors
$white: #FFFFFF;
$isabelline: #ECECEC;
$light-gray: #D1D1D1;
$smoky-black: #0C0910;
$granite-grey: #646266;
$quicksilver: #A6A5A8;

// Fonts
$old-standard: 'Old Standard TT', serif;
$old-std-bold: 700;
$old-std-regular: 400;
$raleway: 'Raleway', sans-serif;
$raleway-bold: 700;
$raleway-regular: 400;

// Font sizes
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;