
.navbar {
    grid-area: area1;
    background-color:$white;
    overflow: hidden;
    display: flex;
    width: 100%;
    justify-content: space-between;

    &__logo {
        vertical-align: middle;
        height: 10vh;
        width: 10%;
        text-align: center;
        background-color: $smoky-black;
        padding-left: .5rem;
        padding-right: .5rem;
        padding-top: .15rem;
        padding-bottom: .15rem;
        box-sizing: border-box;
    }

    &__list {
        padding-right: 2rem;
        align-items: center;
        padding-top: 1rem;
    }

    &__link {
        text-decoration: none;
        cursor: pointer;
        padding-right: 1rem;
        transition: all .3s;
        
        &:hover{
            color: $granite-grey;
        }
    }

    &__button {
        color:$smoky-black;
        display: none;
    }
        
}


@media (max-width:$tablet-view) {
     .navbar{
        position: fixed;
    }  
}

@media screen and (max-width:$mobile-view) {
    .navbar__list {
        display: none;
    }

    .navbar__button {
        display: block;
        padding-right: 1rem;
        padding-top: 1rem;
    }
}